<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add_student/" method="POST">
            {% csrf_token %}
            <input type="text" name="student_name" placeholder="Student Name"><br>
            <input type="number" name="enrollment" placeholder="Enrollment"><br>

            <select name="school">
                {% for i in school_data %}
                <option value="{{i.id}}">{{i.school_name}}</option>
                {% endfor %}
            </select><br>
       
        <button type="Submit">Add Student</button>
    </form>
</body>
</html>